$tablet-width: 845px;
$tabletM-width: 760px;
$tabletS-width: 620px;
$mobileL-width: 550px;

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin tablet-m {
  @media (max-width: $tabletM-width) {
    @content;
  }
}

@mixin tablet-s {
  @media (max-width: $tabletS-width) {
    @content;
  }
}

@mixin mobile-l {
  @media (max-width: $mobileL-width) {
    @content;
  }
}
