.bg {
  background-color: #222;
  color: white;
  max-width: 120rem;
  margin: 0 auto;
}

.h1 {
  margin: 0;
  font-weight: normal;
  font-size: 4rem;
}

.p {
  color: #aaa;
  font-size: 1.2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 4rem;
}

.imageResponsive {
  max-width: 100%;
  height: auto;
}

.column {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.span {
  margin-top: 0.2rem;
}

.svg {
  margin-top: .5rem;
}
