.imageBox {
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  img {
    max-width: 90%;
    max-height: 90%;
  }
}

.productCell {
  padding: 1rem 0;
}

.span {
  padding: 0 0.5rem;
}
