@import "@/app/styles/_breakpoints.scss";

.wrapper {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 4rem;

  @include tablet-m {
    gap: 2rem;
  }

  @include tablet-s {
    grid-template-columns: 1fr;
  }
}

.box {
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;

  @include tablet-m {
    padding: 2rem;
  }
}

.input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table {
  width: 100%;
  th {
    text-align: left;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 600;
    font-size: 1.1rem;
  }
  td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.total {
  margin-top: 2rem;
}

.cityBox {
  display: flex;
  gap: 0.5rem;
}
