@import "@/app/styles/_breakpoints.scss";

.box {
  background-color: #fff;
  padding: 2rem;
  height: 15rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 8rem;
  margin-top: 4rem;

  @include tablet {
    margin-left: 2rem;
  }

  @include tablet-m {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.carousel {
  @include tablet-m {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
  }
}

.h1 {
  font-size: 2rem;
  font-weight: 600;
}

.p {
  font-size: 1.6rem;
}

.imageResponsive {
  object-fit: contain;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}
